[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = ">=4.6.0"
requests = ">=2.18.4"
python-dateutil = "*"

[requires]
python_version = "3.7"
